.bg-paperpro {
    background: rgb(144,39,142);
    background: linear-gradient(90deg, rgba(144,39,142,1) 0%, rgba(84,36,116,1) 50%, rgba(38,34,97,1) 100%);
}

.text-logo {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(45deg, rgba(144,39,142,1), rgba(38,34,97,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link {
    color: white;
}

#main-container {
    min-height: 82vh;
}

.btn-primary {
    background: -webkit-linear-gradient(15deg, rgba(144,39,142,1), rgb(73, 65, 184));
    border-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #241e4e;
}